/* Add application styles & imports to this file! */
#demo {

  color: #fafafa;

}

table {

  width: 999%

}

#nav {

  text-align: center;
  color: #004C9A;
  background-color: white;
  width: 100%

}